<template>
  <Logo />
  <Navigation />

  <div class="checked" v-for="(note, index) in checkedNotes">
    <div class="checked__note">
      {{ note }}
    </div>
    <img class="checked__iconBack" src="/src/components/icons/back.svg" @click="returnTask(index)" />
  </div>

  <ClearBtn v-if="checkedNotes.length > 0" @click="clearList()" />
</template>

<script setup>
import Logo from '@/components/Logo.vue';
import Navigation from '@/components/Navigation.vue';
import ClearBtn from '@/components/ClearBtn.vue';

import { useNotes } from '@/hooks/useNotes';

const { checkedNotes } = useNotes();
const { addNote } = useNotes();

function clearList() {
  checkedNotes.value = [];
}

function returnTask(index) {
  addNote(checkedNotes.value[index]);

  checkedNotes.value.splice(index, 1);
}
</script>

<style scoped lang="scss">
.checked {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

  &__note {
    font-size: 20px;
    color: #ffffff;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__iconBack {
    width: 30px;
  }
}
</style>
