<template>
  <Logo />
  <Navigation />

  <div class="deleted" v-for="(note, index) in deletedNotes" :key="index">
    <div class="deleted__note">
      {{ note }}
    </div>
    <img class="deleted__iconBack" src="/src/components/icons/back.svg" @click="returnTask(index)" />
  </div>

  <ClearBtn v-if="deletedNotes.length > 0" @click="clearList()" />
</template>

<script setup>
import Logo from '@/components/Logo.vue';
import Navigation from '@/components/Navigation.vue';
import ClearBtn from '@/components/ClearBtn.vue';
import { useNotes } from '@/hooks/useNotes';
const { addNote } = useNotes();

let { deletedNotes } = useNotes();

function clearList() {
  deletedNotes.value = [];
}

function returnTask(index) {
  addNote(deletedNotes.value[index]);

  deletedNotes.value.splice(index, 1);
}
</script>

<style scoped lang="scss">
.deleted {
  border-bottom: 1px solid #ffffff;
  margin-bottom: 25px;
  display: flex;
  justify-content: space-between;
  padding-bottom: 10px;

  &__note {
    font-size: 20px;
    color: #ffffff;

    &:last-child {
      margin-bottom: 40px;
    }
  }

  &__iconBack {
    width: 30px;
  }
}
</style>
