<template>
  <Logo />
  <Navigation />
  <ToDoList />
</template>

<script setup>
import ToDoList from '@/components/ToDoList.vue';
import Logo from '@/components/Logo.vue';
import Navigation from '@/components/Navigation.vue';
</script>

<style scoped></style>
