<template>
  <button class="clearBtn">Очистить</button>
</template>

<script setup></script>

<style scoped lang="scss">
.clearBtn {
  padding: 10px 20px;
  background-color: #3eaf7c;
  color: #ffffff;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 10px;
  user-select: none;
  display: flex;
  margin: 0 auto;

  &:hover {
    background-color: #93bf9e;
  }
}
</style>
