<template>
  <div class="logo">
    <img class="logo__img" src="/src/components/icons/logo.svg" />
    <h1 class="logo__title">To-Do List</h1>
  </div>
</template>

<script setup></script>

<style scoped lang="scss">
.logo {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  justify-content: center;

  &__img {
    width: 150px;
    height: 100px;
  }

  &__title {
    font-size: 50px;
    color: #ffffff;
  }
}
</style>
