<template>
  <div class="navigation">
    <RouterLink class="navigation__btn--inProgress" :to="{ name: 'home' }">Текущие</RouterLink>
    <RouterLink class="navigation__btn--deleted" :to="{ name: 'deleted' }">Удаленные</RouterLink>
    <RouterLink class="navigation__btn--checked" :to="{ name: 'checked' }">Завершенные</RouterLink>
  </div>
</template>

<script setup></script>

<style scoped lang="scss">
.navigation {
  display: flex;
  margin-bottom: 100px;
  justify-content: center;

  a {
    text-decoration: none;
    color: #ffffff;
    font-size: 16px;
    padding: 5px 10px;
    border-radius: 5px;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  &__btn {
    &--inProgress {
      background-color: mediumvioletred;
    }

    &--deleted {
      background-color: red;
    }

    &--checked {
      background-color: deepskyblue;
    }
  }
}
</style>
