<template>
  <div class="note">
    <p v-if="clicked === false" class="note__text">{{ note }}</p>
    <input v-else class="note__text" v-model="text" />
    <div class="note__icons" :class="{ 'note__icons--oneIcon': clicked === true }">
      <img
        class="note__inputEditIcon"
        v-if="clicked === true"
        src="/src/components/icons/ok.png"
        @click="endEdit(note)"
      />
      <template v-else>
        <img class="note__check" src="/src/components/icons/check.svg" @click="$emit('check', note)" />
        <img class="note__edit" src="/src/components/icons/edit.svg" @click="editText(note)" />
        <img class="note__delete" src="/src/components/icons/minus.svg" @click="$emit('delete', note)" />
      </template>
    </div>
  </div>
</template>

<script setup>
import { ref, toRefs } from 'vue';

const props = defineProps({
  note: String,
});

const emit = defineEmits(['delete', 'check', 'edit']);

const { note } = toRefs(props);

const clicked = ref(false);
const text = ref('');

function editText() {
  text.value = note.value;
  clicked.value = true;
}

function endEdit() {
  emit('update', text.value);
  clicked.value = false;
}
</script>

<style scoped lang="scss">
.note {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #ffffff;
  margin-bottom: 25px;

  input {
    background: var(--color-background);
    outline: none;
    border: none;
    color: #ffffff;
  }

  img {
    width: 25px;
    height: 25px;
  }

  &__text {
    color: #ffffff;
    font-size: 18px;
    width: 85%;
    height: 40px;
  }

  &__icons {
    display: flex;
    justify-content: space-between;
    width: 15%;

    &--oneIcon {
      justify-content: end;
    }
  }
}
</style>
