<template>
  <div class="toDoList">
    <form class="toDoList__form">
      <input type="text" class="toDoList__input" placeholder="Введите такст заметки" v-model="inputText" />
      <input
        type="button"
        class="toDoList__add"
        :class="{ 'toDoList__add--disabled': !inputText }"
        @click="addTask()"
      />
    </form>

    <div class="toDoList__notes">
      <Note
        v-for="(note, index) in notes"
        :key="index"
        :note="note"
        :index="index"
        @delete="deleteTask(index)"
        @check="checkTask(index)"
        @update="(newText) => change(newText, index)"
      />
    </div>
  </div>
</template>

<script setup>
import Note from '@/components/Note.vue';

import { ref } from 'vue';
import { useNotes } from '@/hooks/useNotes';

const { addDeletedNote, addNote, checkNote, notes } = useNotes();

const inputText = ref('');

function addTask() {
  if (inputText.value.length > 0) {
    addNote(inputText.value);
  }
  inputText.value = '';
}

function deleteTask(index) {
  addDeletedNote(notes.value[index]);
  notes.value.splice(index, 1);
}

function checkTask(index) {
  checkNote(notes.value[index]);
  notes.value.splice(index, 1);
}

function change(newText, index) {
  notes.value[index] = newText;
}
</script>

<style lang="scss " scoped>

.toDoList {

  &__form {
    display: flex;
    align-items: center;
    margin-bottom: 100px;

  }

  &__input {
    height: 50px;
    padding: 0 20px;
    width: 100%;
    outline: none;
    font-size: 20px;
    color: #333333;
  }

  &__add {
    background-image: url("/src/components/icons/plus.svg");
    background-color: #ffffff;
    background-size: cover;
    width: 40px;
    height: 40px;
    margin-left: -45px;
    outline: none;
    border: none;
    cursor: pointer;

    &--disabled {
      cursor: no-drop;
    }
  }


}
</style>
